<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Estoque</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="~/Scripts/assets/logo2.jpg">
</head>
<body>
    <app-root>Loading...</app-root>

    <script type="text/javascript" src="Scripts/inline.bundle.js"></script>
        <script type="text/javascript" src="Scripts/polyfills.bundle.js"></script>
        <script type="text/javascript" src="Scripts/styles.bundle.js"></script>
        <script type="text/javascript" src="Scripts/scripts.bundle.js"></script>
        <script type="text/javascript" src="Scripts/vendor.bundle.js"></script>
        <script type="text/javascript" src="Scripts/main.bundle.js"></script>

</body>
</html>






