
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
      <a class="navbar-brand text-white bg-dark" (click)="aba= 'home'">Easy CRUD</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggngler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Product
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item"  (click)="aba= 'cadastroProd'">Cadastro de Produto</a>
                <a class="dropdown-item" (click)="aba= 'altProd'" >Alterar Produto</a>
                <a class="dropdown-item" (click)="aba= 'delProd'">Excluir Produto</a>
              </div>
            </div>
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Category
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item"  (click)="aba= 'cadastroCat'">Cadastro de Categoria</a>
                <a class="dropdown-item" (click)="aba= 'altCat'">Alterar Categoria</a>
                <a class="dropdown-item" (click)="aba= 'delCat'">Exclusão de Categoria</a>
              </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Reports
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item"  (click)="aba= 'reports'">Produtos Cadastrados</a>
                  <a class="dropdown-item" (click)="aba= 'reports'">Produtos por Categoria</a>
                  <a class="dropdown-item" (click)="aba= 'reportCat'">Categorias Cadastradas</a>
                </div>
              </div>
        </ul>
      </div>
    </nav>

</body>




<form [ngSwitch]="aba" >
      <!--Produtos-->
    <div class="container" *ngSwitchCase="'cadastroProd'">
        <div class="card card-register mx-auto mt-5">
          <div class="card-header text-center">Cadastra Produto</div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <div class="form-row">
                  <div class="col-md-12">
                    <label for="NomeProd">Produto</label>
                    <input class="form-control" id="NomeProd" name="NomeProd" type="text" placeholder="Digite o nome do produto"[(ngModel)]="NomeProd" required>
                  </div>
                </div>
              </div>
              <label for="categorias">Selecione a categoria</label>
              <div class="form-group col align-self-center">
                  <select [(ngModel)]="IdCat" class="custom-select"  name="categorias">
                      <option *ngFor="let busca of categorias" [value]="busca.IdCat">{{busca.IdCat}} | {{busca.NomeCat}}</option>
                  </select>
              </div>
              <a class="btn btn-primary btn-block" (click)="cadastrarProduto(NomeProd, IdCat);">Cadastrar Produto</a>
            </form>
          </div>
        </div>
      </div>
      <div class="container" *ngSwitchCase="'altProd'">
          <div class="card card-register mx-auto mt-5">
            <div class="card-header text-center">Alterar Produto</div>
            <div class="card-body">
              <form>
                <div class="form-group">
                  <div class="form-row">
                    <div class="col-md-12">
                      <label for="NomeProd">Produto</label>
                      <input class="form-control" id="NomeProd" name="NomeProd" type="text" placeholder="Digite o novo nome do produto" [(ngModel)]="NomeProd" required>
                    </div>
                  </div>
                </div>
                <label for="categorias">Selecione o Produto que será alterado</label>
                <div class="form-group">
                    <select [(ngModel)]="NomeProd" class="custom-select"  name="produtos">
                        <option *ngFor="let buscaProd of produtos" [value]="buscaProd.IdProd">{{buscaProd.IdProd}} | {{buscaProd.NomeProd}}</option>
                    </select>
                  </div>
                <a class="btn btn-primary btn-block" (click)="cadastrarProduto(NomeProd, IdCat);">Alterar Produto</a>
              </form>
            </div>
          </div>
        </div>
        <!--Categorias !-->
        <div class="container" *ngSwitchCase="'cadastroCat'">
            <div class="card card-register mx-auto mt-5">
              <div class="card-header text-center">Cadastra Categoria</div>
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <div class="form-row">
                      <div class="col-md-12">
                        <label for="NomeProd">Categoria</label>
                        <input class="form-control" id="NomeCat" name="NomeCat" type="text" placeholder="Digite o nome da categoria"[(ngModel)]="NomeCat" required>
                      </div>
                    </div>
                  </div>
                  <a class="btn btn-primary btn-block" (click)="cadastrarCategoria(NomeCat);">Cadastrar Categoria</a>
                </form>
              </div>
            </div>
          </div>
          <div class="container" *ngSwitchCase="'delCat'">
              <div class="card card-register mx-auto mt-5">
                <div class="card-header text-center">Deleta Categoria</div>
                <div class="card-body">
                  <form>
                    <div class="form-group">
                      <div class="form-row">
                        <div class="col-md-12">
                          <label for="NomeProd">Categoria</label>
                            <div class="form-group">
                              <select [(ngModel)]="IdCat" class="custom-select"  name="categorias">
                                  <option *ngFor="let busca of categorias" [value]="busca.IdCat">{{busca.IdCat}} | {{busca.NomeCat}}</option>
                              </select>
                            </div>
                        </div>
                      </div>
                    </div>
                    <a class="btn btn-primary btn-block" (click)="apagarCat(IdCat);">Deletar Categoria</a>
                  </form>
                </div>
              </div>
            </div>
            <!--NAO FUNFA!-->
            <div class="container" *ngSwitchCase="'altCat'">
                <div class="card card-register mx-auto mt-5">
                  <div class="card-header text-center">Alterar Categoria</div>
                  <div class="card-body">
                    <form>
                        <div class="form-group">
                            <div class="form-row">
                              <div class="col-md-12">
                                <label for="NomeProd">Categoria</label>
                                <input class="form-control" id="NomeCat" name="NomeCat" type="text" placeholder="Digite o nome da categoria"[(ngModel)]="NomeCat" required>
                              </div>
                            </div>
                          </div>
                      <div class="form-group">
                        <div class="form-row">
                          <div class="col-md-12">
                            <label for="NomeProd">Antiga Categoria</label>
                              <div class="form-group">
                                <select [(ngModel)]="IdCat" class="custom-select"  name="categorias">
                                    <option *ngFor="let busca of categorias" [value]="busca.IdCat">{{busca.IdCat}} | {{busca.NomeCat}}</option>
                                </select>
                              </div>
                          </div>
                        </div>
                      </div>
                      <a class="btn btn-primary btn-block" (click)="alterarCat(IdCat, NomeCat);">Alterar Categoria</a>
                    </form>
                  </div>
                </div>
              </div>
<!--Relatorios!-->
<div class="container" *ngSwitchCase="'reportCat'">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header text-center">Relatorio</div>
      <div class="card-body">
        <form>
          <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Codigo Categoria</th>
                    <th>Categoria</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let busca of categorias">
                    <td> {{busca.IdCat}} </td>
                    <td>{{busca.NomeCat}}</td>
                  </tr>
                </tbody>
                </table>
                </div>
        </form>
      </div>
    </div>
  </div>

    <section class="two-way-binding">
          <div class="col-lg-12 menu-fixed" *ngSwitchCase="'home'">
              <div class="card text-center">
                <div class="card-header">
                  <i class="fa fa-bar-chart"></i> CRUD</div>
                <div class="card-body">
                    <h5 class="card-title">Igor Alexandre Saraiva Silva</h5>
                    <p class="card-text">This is the implementation of a simple CRUD. I'm using ASP.NET + Angular 5 with bootstrap and Entity Framework </p>
                </div>
                <div class="card-footer small text-muted">
                  <a href="https://www.linkedin.com/in/igoralexandre/" class="btn-outline-info">Linkedin</a>
                </div>
              </div>
            </div>
    </section>
    </form>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
