<div class="navbar navbar-dark navbar-expand-lg bg-dark">
    <form class="form-inline">
      <button type="button" class="btn btn-outline-success"
  (click)="aba= 'home'">Easy </button>
  <button class="btn btn-sm btn-outline-secondary " (click)="aba= 'cadastroProd'"
   type="button">Product Registration</button>
    <button class="btn btn-sm btn-outline-secondary "(click)="aba= 'cadastroCat'"
     type="button">Category Registration</button>
    <button class="btn btn-sm btn-outline-secondary "(click)="aba= 'relatorio'" type="button">
     Reports</button>
    </form>
  </div>

<div class="container" [ngSwitch]="aba">
  <p *ngSwitchCase="'relatorio'">relatorio</p>
</div>
<!--cadastro de produtos!-->
<form [ngSwitch]="aba" >
  <section class="two-way-binding">
  <!--Cadastro de Produtos-->
    <div class="form-row" *ngSwitchCase="'cadastroProd'">
        <div class="col-md-4 mb-3">
          <label for="validationServer01">Produto</label>
          <input type="text" class="form-control is-valid" id="NomeProd" name="NomeProd" [(ngModel)]="NomeProd" required>
          <div class="valid-feedback">
            Digite o nome do produto a ser cadastrado.
          </div>
          <div class="form-group">
            <pre>{{IdCat}}</pre>
              <select [(ngModel)]="IdCat"class="custom-select" required>
                  <option *ngFor="let busca of categorias" [value]="busca.IdCat">{{busca.IdCat}} | {{busca.NomeCat}}</option>
              </select>
            </div>
            <div>
              <button class="btn btn-success" type="submit" (click)="cadastrarProduto(NomeProd, IdCat);" data-toggle="tooltip" data-placement="top" title="Cadastra um Produto no banco de dados">Cadastrar Produto</button>
            </div>
        </div>
      </div>
      <!--Cadastro de Categorias-->
    <div class="form-row" *ngSwitchCase="'cadastroCat'">
      <div class="col-md-4 mb-3">
        <label for="validationServer01">Categoria</label>
        <input class="form-control is-valid" type="text" id="NomeCat" name="NomeCat" [(ngModel)]="NomeCat" required>
        <div class="valid-feedback">
          Digite a Categoria a ser cadastrada.
        </div>
          <div>
            <button class="btn btn-success" type="submit" (click)="cadastrarCategoria(NomeCat);" data-toggle="tooltip" data-placement="top" title="Cadastra uma Categoria no banco de dados">Cadastrar Categoria</button>
          </div>
      </div>
    </div>

    <!--Mostra minha apresentação!-->
    <div class="card text-center"  *ngSwitchCase="'home'">
      <!--img class="card-img-top" src="\assets\igor.jpg" alt="Card image cap"!-->
      <div class="card-body">
        <h5 class="card-title">Igor Alexandre Saraiva Silva</h5>
        <p class="card-text">This is the realization of a simple CRUD. I'm using ASP.NET + Angular 5 with bootstrap and Entity Framework </p>
        <a href="https://www.linkedin.com/in/igoralexandre/" class="btn-outline-info">Linkedin</a>
      </div>
    </div>
  </section>
  </form>

